@model ProjekatPSA.Models.Prsten
@using ProjekatPSA.helperi;

@{
    ViewBag.Title = "PrikazPrsten";
}

<div class="formaPrikaz">
    <h2>Proizvođač: @Model.Proizvodjac</h2>
    <h2>Naziv proizvoda: @Model.Naziv</h2>
    <h2>Kamen: @Model.Kamenje</h2>
    <h2>Materijal: @Model.Materijal</h2>
    <hr />
    <h2>Cena: </h2>
    @Helperi.popustHelper(Model.Cena, Model.Popust)
    <hr />
    <h2>Popust: @Model.Popust %</h2>
    <h2>Nacin plaćanja: @Model.NacinPlacanja</h2>
    <hr />
    <p>@Model.Opis</p>
</div>

